.c-btn{
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  font-size: .85rem;
  color: white;
  transition: all 300ms;
  letter-spacing: .05rem;
  &--main{
    padding: .8rem 2rem;
    background-image: $Gradient;
    &:hover{
      opacity: .7;
    }
  }
}